{% extends 'base.html.twig' %}

{% block title %}Swift Transfer - Home{% endblock %}

{% block body %}

<div class="text-center text-3xl mt-4">
    Hello {{ app.user.displayedName }}
</div>

<div class="flex justify-center mt-4">
    <div class="w-full max-w-6xl mx-auto flex flex-col md:flex-row gap-4">
        <div class="flex flex-col w-full md:w-1/2">
            <div class="bg-white rounded-lg p-4 shadow-md flex-grow">
                <div class="text-center text-2xl">
                    Your balance:
                </div>
                <div class="text-center text-2xl">
                    ${{ app.user.balance }}
                </div>
            </div>
            <div class="bg-white rounded-lg p-4 shadow-md max-h-96 overflow-y-scroll mt-4 flex-grow">
                <div class="text-center text-2xl">
                    Your contacts:
                </div>
                <ul>
                {% for contact in app.user.contact|sort((a, b) => a.username <=> b.username) %}
                    <a href="{{ path('app_profile', {'username': contact.username}) }}">
                        <li class="mt-3 bg-purple-500 rounded-2xl text-white p-2">
                            <img src="{{ asset('build/images/avatar/' ~ contact.avatar) }}" class="inline-block h-6 w-6 rounded-full mx-2 mb-1">
                            <span class="font-semibold">{{ contact.displayedName }}
                                <span class="ml-2 font-normal text-md">@{{ contact.username }}</span>
                            </span>
                        </li>
                    </a>
                {% else %}
                    <div class="my-3 text-center">
                        You don't have any contact
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="w-full md:w-1/2 bg-white rounded-lg p-4 shadow-md flex-grow">
            <div class="text-center text-2xl">
                Your transactions:
            </div>
            <ul class="max-h-full overflow-y-scroll">
                {% for transac in transactions|reverse %}
                    <li class="mt-3 border border-purple-500 shadowm-md rounded-2xl p-2 text-center">
                        <span class="font-semibold text-xl">
                            <span class="">
                                {{ transac.sender.username == app.user.username ? "You" : transac.sender.username }} 
                            </span>
                            ➡️
                            <span class="{{ transac.receiver.username == app.user.username ? 'text-purple-500' }}">
                                {{ transac.receiver.username == app.user.username ? "You" : transac.receiver.username }}
                            </span>
                            :
                            <span class="{% if transac.sender.username == app.user.username %}text-red-500{% else %}text-green-500{% endif %}">
                                ${{transac.amount }}
                            </span>
                        </span>
                    </li>
                {% else %}
                    <li class="my-3 text-center">
                        You don't have any transactions
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
