{% extends 'base.html.twig' %}

{% block title %}Swift Transfer - Create group{% endblock %}

{% block body %}
<h1 class="text-3xl text-center mt-16">Create group</h1>
    {{ form_start(groupForm) }}
<div class="flex justify-center items-center mt-16 bg-gray-100">

    <div class="w-full max-w-md p-8 bg-white shadow-md rounded-2xl text-lg">
        {% if form_errors(groupForm) %}
            <div class="alert alert-danger">{{ form_errors(groupForm) }}</div>
        {% endif %}

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" >Name</label>
                <input placeholder="Enter an name" value="{{ field_value(groupForm.name) }}" name="{{ field_name(groupForm.name) }}" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" required>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" >Description</label>
                <textarea placeholder="Enter a description" value="{{ field_value(groupForm.description) }}" name="{{ field_name(groupForm.description) }}" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" required></textarea>
            </div>

            <div class="flex justify-between">
                <button type="submit" class="btn btn-primary bg-purple-500 text-white px-5 py-1 rounded-lg ml-4">Create</button>
                <a href="{{ path('app_group') }}">
                    <button type="button" class="btn btn-primary bg-red-600 text-white px-5 py-1 rounded-lg mr-4">Cancel</button>
                </a>
            </div>
    </div>
</div>
    {{ form_end(groupForm) }}
{% endblock %}
