{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<ul>
{% for user in user_list %}
    <li>{{user.UserIdentifier}}</li>
{% endfor %}
</ul>
<p>You are {{app.user.UserIdentifier}}<p>
<p> Your contacts are <p>
<ul>
    {% for contact in contacts %}
        <li>{{contact.UserIdentifier}}</li>
    {% endfor %}
</ul>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.user) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
